body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

header {
    text-align: center;
}

#gp1, #gp2, #gp3, #gp4 {
    display: none;
}

#controllerList {
    display: grid;
    grid-template-columns: 50% 50%;
}

#main_menu_controls {
    display: flex;
    /* align-self: flex-end; */
    width: 100%;
}

#main_menu_controls button {
    width: 50%;
}

.gpDisplayName {
    font-size: 1.5em;
}

.gpDisplayName, .gpButtonCount {
    text-align: center;
}